apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:           # <--- THẲNG HÀNG với 'metadata' ở trên
      containers:   # <--- THỤT VÀO 2 khoảng trắng so với 'spec'
      - name: nginx
        image: nginx:1.27.3
        ports:
        - containerPort: 80
